PORT= # number, default is 8080
STORE= # memory | postgres, default is memory

DATABASE_URL= # postgres://username:password@host:port/db_name?sslmode=disable

LOG_FORMAT= # text | json, default is text
LOG_LEVEL= # debug | info | warn | error, default is info
