# number, default is 8080
PORT=8080 

# memory | postgres, default is memory
STORE=memory

# when STORE=postgres, this must not be empty, the format is as below
DATABASE_URL=postgres://username:password@host:port/db_name?sslmode=disable 

# text | json, default is text
LOG_FORMAT=text

# debug | info | warn | error, default is info
LOG_LEVEL=info

# true | false, default is true
WORKER_ENABLED=true

# example: 30s, 1m, 500ms, default is 30s
WORKER_INTERVAL=30s